# Ignore all zip, log, mp4, png, pyc
*.zip
*.log
*.mp4
*.png
*.pyc

# Ignore checkpoints and logs recursively in any folder
**/checkpoints/
**/logs/
**/ppo_*/  
# for all PPO logs
*.tfevents.*  

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/

# Ignore all virtual environments
.venv/
*/.venv/
